.container{
    height: 500px;
    width: 65%;
    position: relative;
    left: 230px;
    top: 30px;
    display: flex;
    flex-direction: column;
}

.div1{
    background: #666;
    height: 27%;
    text-align: center;
}

.div1 p{
    position: relative;
    top: 16%;
    color: #f1f1f1;
    font-size: 35px;
    font-weight: 700;
}

.inner1{
    padding-top: 30px;
    padding-left: 20px;
    background: #ccc;
    width: 25%;
}

.inner2{
    padding: 0 15px 0 15px;
    background: #f1f1f1;
}


.div2{
    display: flex;
    height: 55%;
}

.div3{
    background: #ddd;
    text-align: center;
    
}